body {
    background-color: rgb(255, 255, 165);
}

.image {
    border: 5px solid green;
    border-radius: 10px;
    height: 400px;
}

.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    text-decoration: none;
}

.link-button {
    background: rgb(0, 172, 238);
    background: linear-gradient(0deg, rgba(0, 172, 238, 1) 0%, rgba(2, 126, 251, 1) 100%);
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    text-align: center;
}

.link-button:before,
.link-button:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    background: rgba(2, 126, 251, 1);
    transition: all 0.3s ease;
}

.link-button:before {
    height: 0%;
    width: 2px;
}

.link-button:after {
    width: 0%;
    height: 2px;
}

.link-button:hover {
    background: rgba(2, 126, 251, 0.521);
    box-shadow: none;
}

.link-button:hover:before {
    height: 100%;
}

.link-button:hover:after {
    width: 100%;
}